@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
}

@mixin inputPosition {
  width: 40%;
  transform: translateX(60%);
}

@mixin inputStyle {
  width: 100%;
  padding: 1em;
  outline: none;
}
