$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
  "extra-bold": 900,
);

$color-white: #fff;
$primary-color: #6c63ff;
$primary-color-op: rgba(108, 99, 255, 0.2);
$primary-color-op2: rgba(108, 99, 255, 0.7);
$color-black: #000;
